* {
	margin: auto;
	text-align: center;
	padding: 0;
	background-color: #333;
	color: white;
	text-shadow: 2px 2px 5px black;
	font-family: 'Cormorant Garamond', serif;
	font-size: 18px;
}

#navbar {
	background-color: grey;
	height: 3.5rem;
	width: 100vw;
	margin-bottom: 50px;
}

#loginMessage {
	display: none;
	color: cadetblue;
	margin: 100px 25px;
	font-size: 1.5rem;
}

#menuBtn {
	position: relative;
	left: 40px;
	bottom: -0.4rem;
	float: left;
	background-color: transparent;
	cursor: pointer;
	transition: ease-in-out;
	transition-duration: 0.2s;
}

.menuModalOpen {
	transform: translate(0, -100px);
}

h1 {
	font-size: 2.5rem;
	background-color: transparent;
	width: max-content;
	max-width: 1000px;
}

#addBookBtn {
	display: none;
	position: relative;
	bottom: 2rem;
	right: 25px;
	float: right;
	outline: none;
	text-shadow: none;
	border-radius: 7px;
	border: none;
	width: 100px;
	height: 1.5rem;
	background-color: forestgreen;
	cursor: pointer;
	box-shadow: 2px 2px 5px black;
}

#bookGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 10rem;
	gap: 2rem;
	align-items: center;
	justify-items: center;
}

#bookGrid div {
	padding: 5px;
	background-color: royalblue;
	min-width: 75%;
	border-radius: 10px;
	margin: 0.25rem;
}

.empty {
	cursor: pointer;
}

.empty:hover {
	transform: scale(1.1);
	transition: ease-in-out;
	transition-duration: 0.2s;
}

.empty:active {
	transform: scale(0.9);
	transition: ease-in-out;
	transition-duration: 0.2s;
}

.hold {
	border: none;
}

.hovered {
	background: #f4f4f4;
	border-style: dashed;
}

.invisible {
	display: none;
}

.card {
	box-shadow: 0 0 10px 3px white;
	cursor: pointer;
}

.cardRead {
	box-shadow: 0 0 10px 3px black;
	cursor: pointer;
}

#bookGrid .addBookCard {
	background-color: transparent;
	font-size: 3rem;
	padding: 40px 0;
	border: 2px dashed grey;
}

.deleteBtn,
.editBtn {
	background-color: white;
	border-radius: 50%;
	border: none;
	color: black;
	width: 40px;
	height: 40px;
	margin: 10px;
	line-height: 1em;
	outline: none;
	text-shadow: none;
	font-size: 30px;
	cursor: pointer;
	float: left;
}

.deleteBtn:hover,
#deleteAccountBtn:hover,
#yesDeleteAccountBtn:hover {
	transform: scale(1.1);
	background-color: crimson;
	color: white;
	box-shadow: 0 0 10px 3px crimson;
	transition: ease-in-out;
	transition-duration: 0.2s;
}

.editBtn {
	transform: rotate(90deg);
	float: right;
}

.editBtn:hover,
#noDeleteAccountBtn:hover {
	transform: scale(1.1) rotate(90deg);
	background-color: forestgreen;
	color: white;
	box-shadow: 0 0 10px 3px forestgreen;
	transition: ease-in-out;
	transition-duration: 0.2s;
}

#noDeleteAccountBtn:hover {
	transform: rotate(0deg);
}

.editBtn:active {
	transform: scale(0.9) rotate(90deg);
	transition: ease-in-out;
	transition-duration: 0.2s;
}

#booksForm,
#updateBookForm {
	border-radius: 0 0 10px 10px;
	background-color: black;
}

#signInModal label,
#createAccountModal label,
#booksForm > label,
#updateBookForm > label {
	background-color: black;
	text-shadow: none;
	color: grey;
}

.modal,
#deleteAccountWarningModal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	animation-name: modalAnimation;
	animation-duration: 0.5s;
}

@keyframes modalAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.modalContent,
#deleteAccountWarningModalContent {
	margin-top: 10%;
	max-width: 40%;
	background-color: transparent;
	opacity: 0.9;
}

#accountInfoModalContent {
	margin-top: 4rem;
}

#addBookModalContent > p,
#updateBookModalContent > p,
#deleteWarningModal p,
#signOutWarningModal p,
#accountInfoModalContent p,
#accountInfoModalContent > h2,
#deleteAccountWarningModal p {
	font-size: 1.5rem;
	padding: 10px 5px;
	border-radius: 10px 10px 0 0;
	background-color: black;
}

#deleteAccountWarningModal p:last-child,
#deleteAccountWarningModal i {
	border-radius: 0 0 10px 10px;
	background-color: black;
	color: red;
}

.error,
#deleteAccountError {
	background-color: black;
	display: none;
	font-size: 1rem !important;
	color: red;
	border-radius: 0 0 10px 10px;
	padding-bottom: 20px;
}

#accountInfoModalContent button {
	margin: 0 0 20px 0;
	width: 60px;
}

#accountInfoModalContent > h2 {
	font-size: 2rem;
	opacity: 0.9;
	background-color: black;
}

#accountInfoModalContent p {
	opacity: 0.9;
	border-radius: 0;
	padding: 10px 0 0 0;
	background-color: black;
}

#accountInfoModalContent p:last-child {
	border-radius: 0 0 10px 10px;
}

.accountInfoTag {
	font-weight: bold;
	color: grey;
}

#signInModalContent > h2,
#createAccountModalContent > h2 {
	font-size: 1.5rem;
	opacity: 0.9;
	background-color: black;
	padding: 20px 0 20px 0;
	border-radius: 10px;
}

.textField {
	margin: 5px 0 20px 0;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid 1px white;
	background-color: transparent;
	color: white;
	outline: none;
	height: 1.5rem;
	width: 50%;
}

#bookRead,
#updateBookRead {
	width: 1rem;
	cursor: pointer;
	height: 1rem;
}

.btn,
#deleteAccountBtn:last-child {
	margin: 25px;
	border-radius: 7px;
	width: 110px;
	height: 30px;
	outline: none;
	background-color: forestgreen;
	border: none;
	cursor: pointer;
}

#deleteAccountBtn:last-child {
	background-color: crimson;
	width: 125px;
	margin: 0 0 10px 0;
}

#menuModal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
}

#menuModalContent {
	width: min-content;
	display: grid;
	grid-gap: 50px;
	place-content: center;
	margin: 70px 10px;
	animation-name: menuModalAnimation;
	animation-duration: 0.2s;
}

@keyframes menuModalAnimation {
	from {
		opacity: 0;
		transform: translate(0px, -25px);
	}
	to {
		opacity: 1;
		transform: translate(0px, 0px);
	}
}

.btn2,
#noDeleteAccountBtn,
#yesDeleteAccountBtn {
	position: fixed;
	outline: none;
	text-shadow: none;
	border-radius: 7px;
	border: none;
	width: 100px;
	height: 1.5rem;
	background-color: forestgreen;
	cursor: pointer;
}

#yesDelete,
#yesSignOut,
#noDelete,
#noSignOut {
	position: relative;
	margin: 10px 50px;
	float: left;
}

#noDelete,
#noSignOut {
	background-color: crimson;
	float: right;
}

#signInSubmitBtn,
#createAccountSubmitBtn,
#noDeleteAccountBtn,
#yesDeleteAccountBtn {
	margin: 25px;
	position: relative;
}

#createAccountSubmitBtn {
	width: 125px;
}

#signOutBtn,
#yesDeleteAccountBtn {
	background-color: crimson;
}

#accountBtn {
	background-color: royalblue;
}

#signInModal form,
#createAccountModal form {
	border-radius: 10px;
	background-color: black;
	opacity: 0.9;
}

#deleteWarningModalContent,
#signOutWarningModalContent {
	margin-top: 10%;
	max-width: 35%;
	height: 140px;
	background-color: black;
	border-radius: 10px;
	opacity: 0.9;
}

#signOutWarningModalContent {
	height: 110px;
}

footer {
	position: absolute;
	width: 100vw;
	bottom: 50px;
	background-color: transparent;
}

a {
	text-decoration: none;
	position: relative;
	font-size: 1.15rem;
}

a:hover {
	color: royalblue;
}

.hover:hover {
	transform: scale(1.1);
	transition: ease-in-out;
	transition-duration: 0.2s;
}

.active:active,
#deleteAccountBtn:active,
#noDeleteAccountBtn:active,
#yesDeleteAccountBtn:active {
	transform: scale(0.9);
	transition: ease-in-out;
	transition-duration: 0.2s;
}
