* {
	margin: auto;
	box-sizing: border-box;
	text-align: center;
	padding: 0;
	color: white;
	text-shadow: 2px 2px 5px black;
	font-family: 'Cormorant Garamond', serif;
	font-size: 18px;
}

body {
	overflow-x: hidden;
	background-image: url('/Assets/librarybg.jpg');
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-blend-mode: soft-light;
	background-color: #333;
}

#navbar {
	position: fixed;
	height: 4.5rem;
	width: 100vw;
	margin-bottom: 2rem;
	background: rgb(51, 51, 51);
	background: linear-gradient(
		0deg,
		rgba(51, 51, 51, 0) 0%,
		rgba(51, 51, 51, 1) 60%
	);
}

#logo {
	position: relative;
	top: 7rem;
	width: 5rem;
	height: 5rem;
	margin-bottom: 1.5rem;
}

::placeholder {
	padding-right: 75%;
	color: black;
	opacity: 0.9;
	font-size: 0.8rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#loginMessage {
	position: relative;
	margin-top: 9rem;
	color: deepskyblue;
	margin-bottom: 1rem;
	font-size: 1.5rem;
	width: 50%;
}

#icon {
	display: none;
	position: relative;
	left: 1rem;
	top: 0.5rem;
	float: left;
	background-color: transparent;
}

h1 {
	color: lightgray;
	font-size: 2.7rem;
	background-color: transparent;
	width: max-content;
	max-width: 20rem;
}

#accountBtn,
#signOutBtn {
	position: relative;
	bottom: 2.3rem;
	right: 2rem;
	float: right;
	outline: none;
	text-shadow: none;
	border-radius: 7px;
	border: none;
	width: 100px;
	height: 1.5rem;
	cursor: pointer;
	box-shadow: 2px 2px 5px black;
}

#accountBtn {
	right: 3rem;
}

#bookGrid {
	padding-top: 6rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 10rem;
	gap: 2rem;
	align-items: center;
	justify-items: center;
	margin-bottom: 3rem;
}

#bookGrid div {
	padding: 5px;
	background-color: royalblue;
	min-width: 75%;
	border-radius: 10px;
	margin: 0.25rem;
}

.hovered {
	border: dashed 2px #f4f4f4;
	opacity: 0.5;
}

.invisible {
	display: none;
}

.card {
	box-shadow: 0 0 10px 3px white;
	cursor: grab;
	height: 9.5rem;
}

.cardRead {
	box-shadow: 0 0 10px 3px black;
	cursor: grab;
	height: 9.5rem;
}

#bookGrid .addBookCard {
	display: none;
	cursor: pointer;
	background-color: transparent;
	font-size: 3rem;
	padding: 40px 0;
	border: 2px dashed grey;
}

.deleteBtn,
.editBtn {
	background-color: white;
	border-radius: 50%;
	border: none;
	color: black;
	width: 2.5rem;
	height: 2.5rem;
	margin: -0.3rem 1rem 0rem 1rem;
	line-height: 1rem;
	outline: none;
	text-shadow: none;
	font-size: 1.7rem;
	cursor: pointer;
	float: left;
}

.deleteBtn:hover,
#deleteAccountBtn:hover,
#yesDeleteAccountBtn:hover,
.notReadBtn:hover {
	transform: scale(1.1);
	background-color: crimson;
	color: white;
	box-shadow: 0 0 10px 3px crimson;
	transition: ease-in-out;
	transition-duration: 0.2s;
}

.editBtn {
	transform: rotate(90deg);
	float: right;
}

.editBtn:hover,
#noDeleteAccountBtn:hover,
.readBtn:hover {
	transform: scale(1.1) rotate(90deg);
	background-color: forestgreen;
	color: white;
	box-shadow: 0 0 10px 3px forestgreen;
	transition: ease-in-out;
	transition-duration: 0.2s;
}

#noDeleteAccountBtn:hover,
.readBtn:hover {
	transform: rotate(0deg);
}

.editBtn:active {
	transform: scale(0.9) rotate(90deg);
	transition: ease-in-out;
	transition-duration: 0.2s;
}

#booksForm,
#updateBookForm {
	border-radius: 0 0 10px 10px;
	background-color: black;
}

#booksForm > label,
#updateBookForm > label {
	background-color: black;
	text-shadow: none;
	color: grey;
}

#signInForm label,
#createAccountForm label {
	text-shadow: none;
}

#signInForm,
#createAccountForm {
	display: none;
}

.modal,
#deleteAccountWarningModal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	animation-name: modalAnimation;
	animation-duration: 0.5s;
}

@keyframes modalAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.modalContent {
	margin-top: 10%;
	max-width: 40%;
	background-color: transparent;
	opacity: 0.9;
}

#deleteWarningModalContent,
#signOutWarningModalContent {
	height: 8rem;
	background-color: black;
	border-radius: 10px;
}

#accountInfoModalContent {
	margin-top: 4rem;
}

#addBookModalContent > p,
#updateBookModalContent > p,
#deleteWarningModal p,
#signOutWarningModal p,
#accountInfoModalContent p,
#accountInfoModalContent > h2,
#deleteAccountWarningModal p {
	font-size: 1.5rem;
	padding: 10px 5px;
	border-radius: 10px 10px 0 0;
	background-color: black;
}

#deleteAccountWarningModal p:last-child,
#deleteAccountWarningModal i {
	border-radius: 0 0 10px 10px;
	background-color: black;
	color: red;
}

.error {
	background-color: black;
	display: none;
	font-size: 1rem !important;
	color: red;
	border-radius: 0 0 10px 10px;
	padding-bottom: 20px;
}

#createAccountError,
#loginError {
	border-radius: 10px;
	padding: 0.5rem;
}

#accountInfoModalContent button {
	margin: 0 0 20px 0;
	width: 60px;
}

#accountInfoModalContent > h2 {
	font-size: 2rem;
	opacity: 0.9;
	background-color: black;
}

#accountInfoModalContent p {
	opacity: 0.9;
	border-radius: 0;
	padding: 10px 0 0 0;
	background-color: black;
}

#accountInfoModalContent p:last-child,
#signOutWarningModal p:last-child {
	border-radius: 0 0 10px 10px;
	padding-bottom: 1rem;
}

.accountInfoTag {
	font-weight: bold;
	color: grey;
}

#signInFormContent > h2,
#createAccountFormContent > h2 {
	font-size: 1.2rem;
	font-weight: normal;
	margin-bottom: 30px;
}

.textField {
	margin: 5px 0 20px 0;
	border-radius: 1rem;
	border: none;
	background-color: white;
	color: black;
	outline: none;
	height: 1.5rem;
	width: 50%;
}

#bookRead,
#updateBookRead {
	width: 1rem;
	cursor: pointer;
	height: 1rem;
}

.btn,
#deleteAccountBtn:last-child {
	margin: 25px;
	border-radius: 7px;
	width: 7rem;
	height: 1.7rem;
	outline: none;
	background-color: forestgreen;
	border: none;
	cursor: pointer;
}

.readBtn,
.notReadBtn {
	margin-top: 0.3rem;
	width: 4.5rem;
	height: 1.5rem;
	text-shadow: none;
}

.readBtn:hover,
.notReadBtn:hover {
	transform: scale(1.1);
	transition: ease-in-out;
	transition-duration: 0.2s;
}

.readBtn:active,
.notReadBtn:active {
	transform: scale(0.9);
	transition: ease-in-out;
	transition-duration: 0.2s;
}

#deleteAccountBtn:last-child {
	background-color: crimson;
	width: 125px;
	margin: 0 0 10px 0;
}

.btn2,
#noDeleteAccountBtn,
#yesDeleteAccountBtn {
	position: fixed;
	outline: none;
	text-shadow: none;
	border-radius: 7px;
	border: none;
	width: 5.5rem;
	height: 1.5rem;
	background-color: forestgreen;
	cursor: pointer;
}

#yesDelete,
#yesSignOut,
#noDelete,
#noSignOut {
	position: relative;
	margin: 10px 50px;
	float: left;
}

#noDelete,
#noSignOut {
	background-color: crimson;
	float: right;
}

#noDeleteAccountBtn,
#yesDeleteAccountBtn {
	margin: 25px;
	position: relative;
}

#createAccountBtn,
#signInBtn {
	margin: 2rem 1rem 0 1rem;
	width: 7rem;
}

#signInSubmitBtn,
#createAccountSubmitBtn,
#backBtn {
	margin: 0.5rem;
	width: 7rem;
	position: relative;
}

#backBtn {
	display: none;
	background-color: royalblue;
}

#signOutBtn,
#yesDeleteAccountBtn,
.notReadBtn {
	background-color: crimson;
}

#accountBtn {
	background-color: royalblue;
}

#signInForm form,
#createAccountForm form {
	width: 40%;
}

#signOutWarningModalContent {
	height: 110px;
}

#burgerMenuContainer {
	display: none;
	cursor: pointer;
	position: fixed;
	width: 2.1rem;
	height: 2.1rem;
	right: 0.9rem;
	top: 0.6rem;
}

#burgerMenu,
#burgerMenu::before,
#burgerMenu::after {
	position: fixed;
	background-color: lightgrey;
	border-radius: 10px;
	width: 2rem;
	height: 0.25rem;
	right: 1rem;
	top: 1.5rem;
}

#burgerMenu::before {
	content: '';
	transform: translateY(-0.75rem);
}

#burgerMenu::after {
	content: '';
	transform: translateY(0.75rem);
}

footer {
	position: fixed;
	right: 2rem;
	bottom: 1rem;
	color: white;
	text-align: right;
}

a {
	text-decoration: none;
	position: relative;
	font-size: 1.15rem;
}

a:hover {
	color: royalblue;
}

.hover:hover {
	transform: scale(1.1);
	transition: ease-in-out;
	transition-duration: 0.2s;
}

.active:active {
	transform: scale(0.9);
	transition: ease-in-out;
	transition-duration: 0.2s;
}

@media (max-width: 500px) {
	* {
		font-size: 15px;
	}

	#bookGrid {
		grid-template-columns: 1fr;
	}

	#accountBtn,
	#signOutBtn {
		display: none;
		position: absolute;
		top: 8rem;
		right: 1rem;
	}

	#signOutBtn {
		top: 14rem;
	}

	.modalContent {
		margin-top: 30%;
		max-width: 75%;
	}

	#signOutWarningModalContent {
		height: 8rem;
	}

	#deleteWarningModalContent {
		height: 9rem;
	}

	#yesDelete,
	#noDelete,
	#yesSignOut,
	#noSignOut {
		margin: 0 1rem;
	}

	.textField {
		width: 60%;
	}

	#signInForm .textField,
	#createAccountForm .textField {
		width: 100%;
	}

	#burgerMenuContainer {
		display: block;
	}

	.deleteBtn,
	.editBtn {
		margin: -0.5rem 1.75rem 0rem 1.75rem;
	}
}
