* {
	margin: auto;
	text-align: center;
	padding: 0;
	background-color: #333;
	color: white;
	text-shadow: 2px 2px 5px black;
	font-family: 'Cormorant Garamond', serif;
}

header {
	background-color: gray;
	height: 55px;
	width: 100vw;
	margin-bottom: 50px;
}

#loginMessage {
	display: none;
	color: royalblue;
	margin: 100px 25px;
}

#menuBtn {
	position: fixed;
	left: 45px;
	background-color: transparent;
	font-size: 3rem;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	text-shadow: none;
	transition-duration: 0.3s;
}

.menuModalOpen {
	transform: translate(0, -100px);
}

h1 {
	font-size: 2.5rem;
	background-color: transparent;
	width: max-content;
	max-width: 1000px;
}

#addBookBtn {
	display: none;
	position: fixed;
	top: 13px;
	right: 25px;
	outline: none;
	text-shadow: none;
	border-radius: 7px;
	border: none;
	width: 100px;
	height: 25px;
	background-color: forestgreen;
	cursor: pointer;
	font-size: 18px;
	box-shadow: 2px 2px 5px black;
}

#bookGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	gap: 200px 50px;
	align-items: center;
	justify-items: center;
	height: 200px;
}

#bookGrid div {
	padding: 5px;
	background-color: royalblue;
	min-width: 75%;
	border-radius: 10px;
}

.card {
	min-height: 10px;
	box-shadow: 0 0 10px 3px black;
}

.deleteBtn {
	background-color: white;
	border-radius: 50%;
	border: none;
	color: black;
	width: 40px;
	height: 40px;
	margin: 10px;
	line-height: 1em;
	outline: none;
	text-shadow: none;
	font-size: 30px;
	cursor: pointer;
	float: left;
}

.deleteBtn:hover {
	transform: scale(1.1);
	background-color: crimson;
	color: white;
	box-shadow: 0 0 10px 3px crimson;
}

.editBtn {
	background-color: white;
	transform: rotate(90deg);
	border-radius: 50%;
	border: none;
	color: black;
	width: 40px;
	height: 40px;
	margin: 10px;
	line-height: 1em;
	outline: none;
	text-shadow: none;
	font-size: 30px;
	cursor: pointer;
	float: right;
}

.editBtn:hover {
	transform: scale(1.1);
	background-color: forestgreen;
	color: white;
	box-shadow: 0 0 10px 3px forestgreen;
	transform: rotate(90deg);
}

.editBtn:active {
	transform: scale(0.9) rotate(90deg);
}

#booksForm,
#updateBookForm {
	border-radius: 0 0 10px 10px;
	background-color: grey;
}

#booksForm > label,
#updateBookForm > label {
	background-color: grey;
	text-shadow: none;
}

#addBookModal,
#updateBookModal,
#accountInfoModal,
#signInModal,
#createAccountModal,
#deleteWarningModal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	animation-name: modalAnimation;
	animation-duration: 0.5s;
}

@keyframes modalAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#addBookModalContent,
#updateBookModalContent,
#accountInfoModalContent,
#signInModalContent,
#createAccountModalContent {
	margin-top: 10%;
	max-width: 35%;
	background-color: transparent;
	opacity: 0.9;
}

#addBookModalContent > p,
#updateBookModalContent > p,
#signInModal p,
#createAccountModal p,
#deleteWarningModal p {
	font-size: 25px;
	padding: 10px 5px;
	border-radius: 10px 10px 0 0;
	background-color: grey;
	opacity: 0.9;
}

#accountInfoModalContent > h2 {
	font-size: 30px;
	padding: 10px 5px;
	background-color: grey;
	border-radius: 10px 10px 0 0;
	opacity: 0.9;
}

#accountInfoModalContent p {
	font-size: 25px;
	padding: 10px 5px;
	background-color: grey;
	opacity: 0.9;
}

#accountInfoModalContent p:last-child {
	border-radius: 0 0 10px 10px;
}

.accountInfoTag {
	font-weight: bold;
}

#bookTitle,
#updateBookTitle {
	margin: 5px;
	background-color: white;
	border-radius: 7px;
	color: black;
	outline: none;
}

#bookAuthor,
#updateBookAuthor {
	margin: 5px;
	background-color: white;
	border-radius: 7px;
	color: black;
	outline: none;
}

#bookPages,
#updateBookPages {
	margin: 5px;
	background-color: white;
	border-radius: 7px;
	color: black;
	outline: none;
}

#bookRead,
#updateBookRead {
	margin: 5px;
	background-color: white;
	color: black;
	outline: none;
	cursor: pointer;
}

#bookSubmitBtn,
#updateBookSubmitBtn {
	margin: 25px;
	border-radius: 7px;
	width: 100px;
	height: 25px;
	outline: none;
	background-color: forestgreen;
	border: none;
	font-size: 15px;
	cursor: pointer;
}

#menuModal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
}

#menuModalContent {
	width: min-content;
	display: grid;
	grid-gap: 50px;
	place-content: center;
	margin: 60px 10px;
	animation-name: menuModalAnimation;
	animation-duration: 0.3s;
}

@keyframes menuModalAnimation {
	from {
		opacity: 0;
		transform: translate(0px, -25px);
	}
	to {
		opacity: 1;
		transform: translate(0px, 0px);
	}
}

#signInBtn,
#createAccountBtn {
	position: fixed;
	outline: none;
	text-shadow: none;
	border-radius: 7px;
	border: none;
	width: 100px;
	height: 25px;
	background-color: forestgreen;
	cursor: pointer;
	font-size: 18px;
}

#signOutBtn {
	position: fixed;
	outline: none;
	text-shadow: none;
	border-radius: 7px;
	border: none;
	width: 100px;
	height: 25px;
	background-color: crimson;
	cursor: pointer;
	font-size: 18px;
}

#accountBtn {
	position: fixed;
	outline: none;
	text-shadow: none;
	border-radius: 7px;
	border: none;
	width: 100px;
	height: 25px;
	background-color: royalblue;
	cursor: pointer;
	font-size: 18px;
}

#signInModal form {
	border-radius: 10px;
	background-color: grey;
}

#signInModal label {
	background-color: grey;
	text-shadow: none;
}

#signInEmail {
	margin: 5px;
	background-color: white;
	border-radius: 7px;
	color: black;
	outline: none;
}

#signInPassword {
	margin: 5px;
	background-color: white;
	border-radius: 7px;
	color: black;
	outline: none;
}

#signInSubmitBtn {
	margin: 25px;
	border-radius: 7px;
	width: 100px;
	height: 25px;
	outline: none;
	background-color: forestgreen;
	border: none;
	font-size: 15px;
	cursor: pointer;
}

#createAccountModal form {
	border-radius: 10px;
	background-color: grey;
}

#createAccountModal label {
	background-color: grey;
	text-shadow: none;
}

#createAccountEmail {
	margin: 5px;
	background-color: white;
	border-radius: 7px;
	color: black;
	outline: none;
}

#createAccountPassword {
	margin: 5px;
	background-color: white;
	border-radius: 7px;
	color: black;
	outline: none;
}

#createAccountDisplayName {
	margin: 5px;
	background-color: white;
	border-radius: 7px;
	color: black;
	outline: none;
}

#createAccountSubmitBtn {
	margin: 25px;
	border-radius: 7px;
	width: 100px;
	height: 25px;
	outline: none;
	background-color: forestgreen;
	border: none;
	font-size: 15px;
	cursor: pointer;
}

#deleteWarningModalContent {
	margin-top: 10%;
	max-width: 35%;
	height: 150px;
	background-color: grey;
	border-radius: 10px;
	opacity: 0.9;
}

#yesDelete {
	margin: 10px 50px;
	border-radius: 7px;
	width: 75px;
	height: 25px;
	outline: none;
	background-color: forestgreen;
	border: none;
	font-size: 15px;
	cursor: pointer;
	float: left;
	box-shadow: 2px 2px 5px black;
}

#noDelete {
	margin: 10px 50px;
	border-radius: 7px;
	width: 75px;
	height: 25px;
	outline: none;
	background-color: crimson;
	border: none;
	font-size: 15px;
	cursor: pointer;
	float: right;
	box-shadow: 2px 2px 5px black;
}

#addBookBtn:hover,
#bookGrid > div:hover,
#yesDelete:hover,
#noDelete:hover {
	transform: scale(1.1);
}

#bookSubmitBtn:hover,
#updateBookSubmitBtn:hover,
#signInSubmitBtn:hover,
#createAccountSubmitBtn:hover {
	transform: scale(1.1);
	box-shadow: 2px 2px 5px black;
}

#signInBtn:hover,
#createAccountBtn:hover,
#signOutBtn:hover,
#accountBtn:hover {
	transform: scale(1.1);
	box-shadow: 0 0 10px 3px white;
}

#addBookBtn:active,
.deleteBtn:active,
#bookSubmitBtn:active,
#updateBookSubmitBtn:active,
#signInBtn:active,
#createAccountBtn:active,
#signOutBtn:active,
#accountBtn:active,
#signInSubmitBtn:active,
#createAccountSubmitBtn:active,
#yesDelete:active,
#noDelete:active {
	transform: scale(0.9);
}
