* {
	margin: auto;
	text-align: center;
	padding: 0;
	background-color: #333;
	color: ghostwhite;
	text-shadow: 2px 2px 5px black;
	font-family: 'Cormorant Garamond', serif;
}

:root {
	--addBookModal-duration: 0.5s;
}

header {
	background-color: gray;
	height: 55px;
	width: 100vw;
	margin-bottom: 50px;
}

h2 {
	display: none;
	color: rgb(75, 75, 255);
	margin: 100px 25px;
}

#menuBtn {
	position: fixed;
	left: 25px;
	background-color: transparent;
	font-size: 3rem;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	text-shadow: none;
}

.menuModalOpen {
	transform: scale(0);
}

h1 {
	font-size: 2.5rem;
	background-color: transparent;
	width: 200px;
}

#addBookBtn {
	position: fixed;
	top: 13px;
	right: 25px;
	outline: none;
	text-shadow: none;
	border-radius: 7px;
	border: none;
	width: 100px;
	height: 25px;
	background-color: forestgreen;
	cursor: pointer;
	font-size: 18px;
}

#addBookBtn:hover {
	transform: scale(1.1);
	box-shadow: 2px 2px 5px black;
}

#addBookBtn:active {
	transform: scale(0.9);
}

#bookGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	gap: 25px;
	align-items: center;
	justify-items: center;
}

#bookGrid div {
	padding: 5px;
	background-color: rgb(75, 75, 255);
	min-width: 75%;
	border-radius: 10px;
}

.card {
	box-shadow: 0 0 10px 3px black;
}

.deleteBtn {
	background-color: ghostwhite;
	border-radius: 50%;
	border: none;
	color: black;
	width: 40px;
	height: 40px;
	margin: 10px 0;
	padding-bottom: 7px;
	float: left;
	outline: none;
	text-shadow: none;
	font-size: 30px;
	cursor: pointer;
}

.deleteBtn:hover {
	transform: scale(1.1);
	background-color: crimson;
	color: ghostwhite;
	box-shadow: 0 0 10px 3px crimson;
}

.deleteBtn:active {
	transform: scale(0.9);
}

.editBtn {
	background-color: transparent;
	border: none;
	outline: none;
	text-shadow: none;
	font-size: 30px;
	margin-bottom: 10px;
	cursor: pointer;
	float: right;
}

.editBtn:hover {
	transform: scale(1.1);
}

.editBtn:active {
	transform: scale(0.9);
}

#booksForm {
	border-radius: 0 0 10px 10px;
	background-color: grey;
}

#booksForm label {
	background-color: grey;
	text-shadow: none;
}

#addBookModal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	animation-name: addBookModalopen;
	animation-duration: var(--addBookModal-duration);
}

@keyframes addBookModalopen {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#addBookModalContent {
	margin-top: 10%;
	max-width: 35%;
}

#addBookModalContent p {
	font-size: 25px;
	padding: 10px 5px;
	border-radius: 10px 10px 0 0;
	background-color: grey;
}

#bookTitle {
	margin: 5px;
	background-color: ghostwhite;
	border-radius: 7px;
	color: black;
	outline: none;
}

#bookAuthor {
	margin: 5px;
	background-color: ghostwhite;
	border-radius: 7px;
	color: black;
	outline: none;
}

#bookPages {
	margin: 5px;
	background-color: ghostwhite;
	border-radius: 7px;
	color: black;
	outline: none;
}

#bookRead {
	margin: 5px;
	background-color: ghostwhite;
	color: black;
	outline: none;
	cursor: pointer;
}

#bookSubmitBtn {
	margin: 25px;
	border-radius: 7px;
	width: 100px;
	height: 25px;
	outline: none;
	background-color: forestgreen;
	border: none;
	font-size: 15px;
	cursor: pointer;
}

#bookSubmitBtn:hover {
	transform: scale(1.1);
	box-shadow: 2px 2px 5px black;
}

#bookSubmitBtn:active {
	transform: scale(0.9);
}

#menuModal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
}

#menuModalContent {
	margin-top: 50px;
	left: 0;
	height: 0%;
	background-color: grey;
	animation-name: menuModalopen;
	animation-duration: var(--addBookModal-duration);
}

@keyframes menuModalopen {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#signInBtn {
	position: fixed;
	top: 7%;
	left: 50px;
	outline: none;
	text-shadow: none;
	border-radius: 7px;
	border: none;
	width: 100px;
	height: 25px;
	background-color: forestgreen;
	cursor: pointer;
	font-size: 18px;
}

#signInBtn:hover {
	transform: scale(1.1);
	box-shadow: 0 0 10px 3px ghostwhite;
}

#signInBtn:active {
	transform: scale(0.9);
}

#createAccountBtn {
	position: fixed;
	top: 12%;
	left: 50px;
	outline: none;
	text-shadow: none;
	border-radius: 7px;
	border: none;
	width: 100px;
	height: 25px;
	background-color: forestgreen;
	cursor: pointer;
	font-size: 18px;
}

#createAccountBtn:hover {
	transform: scale(1.1);
	box-shadow: 0 0 10px 3px ghostwhite;
}

#createAccountBtn:active {
	transform: scale(0.9);
}

#signOutBtn {
	position: fixed;
	top: 17%;
	left: 50px;
	outline: none;
	text-shadow: none;
	border-radius: 7px;
	border: none;
	width: 100px;
	height: 25px;
	background-color: crimson;
	cursor: pointer;
	font-size: 18px;
}

#signOutBtn:hover {
	transform: scale(1.1);
	box-shadow: 0 0 10px 3px ghostwhite;
}

#signOutBtn:active {
	transform: scale(0.9);
}

#accountBtn {
	position: fixed;
	top: 22%;
	left: 50px;
	outline: none;
	text-shadow: none;
	border-radius: 7px;
	border: none;
	width: 100px;
	height: 25px;
	background-color: rgb(75, 75, 255);
	cursor: pointer;
	font-size: 18px;
}

#accountBtn:hover {
	transform: scale(1.1);
	box-shadow: 0 0 10px 3px ghostwhite;
}

#accountBtn:active {
	transform: scale(0.9);
}

#signInModal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
}

#signInModalContent {
	margin-top: 10%;
	max-width: 35%;
}

#signInModal p {
	font-size: 25px;
	padding: 20px 5px;
	background-color: grey;
	border-radius: 10px;
}

#signInModal form {
	border-radius: 10px;
	background-color: grey;
}

#signInModal label {
	background-color: grey;
	text-shadow: none;
}

#signInEmail {
	margin: 5px;
	background-color: ghostwhite;
	border-radius: 7px;
	color: black;
	outline: none;
}

#signInPassword {
	margin: 5px;
	background-color: ghostwhite;
	border-radius: 7px;
	color: black;
	outline: none;
}

#signInSubmitBtn {
	margin: 25px;
	border-radius: 7px;
	width: 100px;
	height: 25px;
	outline: none;
	background-color: forestgreen;
	border: none;
	font-size: 15px;
	cursor: pointer;
}

#signInSubmitBtn:hover {
	transform: scale(1.1);
	box-shadow: 2px 2px 5px black;
}

#signInSubmitBtn:active {
	transform: scale(0.9);
}

#createAccountModal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
}

#createAccountModalContent {
	margin-top: 10%;
	max-width: 35%;
}

#createAccountModal p {
	font-size: 25px;
	padding: 20px 5px;
	background-color: grey;
	border-radius: 10px;
}

#createAccountModal form {
	border-radius: 10px;
	background-color: grey;
}

#createAccountModal label {
	background-color: grey;
	text-shadow: none;
}

#createAccountEmail {
	margin: 5px;
	background-color: ghostwhite;
	border-radius: 7px;
	color: black;
	outline: none;
}

#createAccountPassword {
	margin: 5px;
	background-color: ghostwhite;
	border-radius: 7px;
	color: black;
	outline: none;
}

#createAccountUsername {
	margin: 5px;
	background-color: ghostwhite;
	border-radius: 7px;
	color: black;
	outline: none;
}

#createAccountSubmitBtn {
	margin: 25px;
	border-radius: 7px;
	width: 100px;
	height: 25px;
	outline: none;
	background-color: forestgreen;
	border: none;
	font-size: 15px;
	cursor: pointer;
}

#createAccountSubmitBtn:hover {
	transform: scale(1.1);
	box-shadow: 2px 2px 5px black;
}

#createAccountSubmitBtn:active {
	transform: scale(0.9);
}

#deleteWarningModal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
}

#deleteWarningModalContent {
	margin-top: 10%;
	max-width: 35%;
	height: 150px;
	background-color: grey;
	border-radius: 10px;
}

#deleteWarningModal p {
	font-size: 25px;
	padding: 20px 5px;
	background-color: grey;
	border-radius: 10px;
}

#yesDelete {
	margin: 10px 50px;
	border-radius: 7px;
	width: 75px;
	height: 25px;
	outline: none;
	background-color: forestgreen;
	border: none;
	font-size: 15px;
	cursor: pointer;
	float: left;
}

#yesDelete:hover {
	transform: scale(1.1);
	box-shadow: 2px 2px 5px black;
}

#yesDelete:active {
	transform: scale(0.9);
}

#noDelete {
	margin: 10px 50px;
	border-radius: 7px;
	width: 75px;
	height: 25px;
	outline: none;
	background-color: crimson;
	border: none;
	font-size: 15px;
	cursor: pointer;
	float: right;
}

#noDelete:hover {
	transform: scale(1.1);
	box-shadow: 2px 2px 5px black;
}

#noDelete:active {
	transform: scale(0.9);
}
